<ion-card>
  <ion-item lines="none">
    <ion-avatar slot="start">
      <img src="/assets/avatars/{{post.user.avatar}}" />
    </ion-avatar>
    <ion-label>
      <h2>{{post.user.nombre}}</h2>
    </ion-label>
  </ion-item>
  <!-- Slides -->
  <ion-slides>
    <ion-slide class="img-containt" *ngFor="let img of post.imgs;" [style]="urlImages+img | domSanitizer | imageSanitizer">
    </ion-slide>
  </ion-slides>
  <!-- mapa -->
  <app-mapa [coords]="post.coords" *ngIf="post.coords"></app-mapa>
  <ion-item lines="none">
    <ion-icon slot="start" name="heart-outline"></ion-icon>
    <ion-icon slot="end" name="bookmark"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label text-wrap>{{post.message}}</ion-label>
  </ion-item>
</ion-card>